<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create New NFT</h3>

    <form class="create-form">
      <div class="form-group">
        <label for="nameNFT" class="form-label">NFT Name:</label>
        <input class="form-control" type="text" id="nameNFT" />
      </div>
      <div class="form-group">
        <label for="imageUrl" class="form-label">Image URL:</label>
        <input class="form-control" type="url" id="imageUrl" />
      </div>
      <div class="form-group">
        <label for="description" class="form-label">NFT Description:</label>
        <textarea placeholder="Give a Description" class="form-control" id="descriptionNFT"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary dark-btn">Create</button>
      </div>
    </form>
  </div>

  {{#if nfts.length}}
  <div class="col-md-6">
    <h3>Your NFTs:</h3>

    {{#each nfts as |nft|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{nft.nft_name}}</h4>
        <img src="{{nft.image_url}}" alt="{{nft.nft_name}}" width="100" height="100">
        {{!-- <link src="https://goerli.etherscan.io/tx/{{nft.transaction_id}}" --}}
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/logout.js"></script>
<script src="/js/nft.js"></script>